 
 @media screen and (max-width:576px) {
     /* /* nav responsive start here  */
     .nav-details{
        display: none;
     }
     .nav-hamburgermenu{
      display:block;
      margin-top: 10%;
      font-size: 2rem;
  }
  /* nav responsive end here  */
  /* get container responsive start here  */
  .get-container{
   flex-direction: column;
  }
  .get-bodyp{
   display: none;
  }
  .get-bodydesc{
   display: block;
   margin-bottom: 2rem;

  }
  .image{
   display: none;
  }
  .image-short{
    display: block;
    margin-top: 10%;
    width: 100%;

  }
  .workout{
   margin-left: 50%;
   margin-top: 20%;
   height: 10%;
   width: 30%;
   
  }
  .tutorial{
   height: 10%;
   width: 25%;
   margin-left: 7%;
   margin-top: 80%;
  }
  /* get container responsive end here  */
  /* exercise position responsive start here  */
 .exercise-position{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 5%;
 }
 .exercise-position img{
   margin-top: 20%;
 }
 .position-data {
   margin-top: 10%;
 }
/* exercise position resposive end here  */
/* runmile responsive start here  */
 .run-mile-container{
  height: 700px;
  padding: 2rem;
  
 }
 .runmile-content{
  
  flex-direction: column;
 }
 .run-mile{
  width: 150%;
 }
 .runmile-desc1{
  display: none;
 }
 .runmile-desc2{
  display: block;
 }
 .run-image img{
  object-fit: cover;
  width: 100%;
  margin-top: -10%;
 }
/* runmile responsive end here  */
/* gym workout plan responsive start here  */
.gym-workout-container{
  width: auto;
  height: 1100px;
}
.gym-workout-frame{
  display: flex;
  flex-direction: column;
  height: 940px;
  

}
.gym-workout{
  margin-left: 3%;
  margin-bottom: 4%;
}
.gym-work-table{
  margin-left: 3%;
}

.routine{
  margin-top:-3%
}
.bmi-form{
  margin-left: 3%;
}
.bmi-h{
  margin-top: -7%;
}
/* meet your team responsive start here  */

.grid-container{
  width: 80%;
  grid-template-columns: repeat(1,1fr);
  
}

.grid-item img{
  height: 300px;
  width: 350px;
  /* object-fit: fill; */
  gap: 1rem;
  padding-left: 2rem;
}
.item{
  margin-top: 40%;
  margin-left: 10%;
}
/* meet your team responsive end here  */
/* footer responsive start here  */
.footer{
  height: 900px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  margin-left: 4%;
}
/* footer responsive end here  */
 }