@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Grey+Qo&family=Inter:wght@100..900&family=Whisper&display=swap');
body{
    font-family: "Inter", sans-serif;
    /* color: white; */
    background-color:  rgb(0, 0, 0);
    color: rgba(255, 255, 255);
}
*{
    margin: 0;
    padding: 0;
}
.container{
    width: 90%;
    margin: 3rem auto;
    background: linear-gradient(180deg rgb(0, 0, 0,2) rgb(0, 0, 0,5) rgb(185, 185, 185) 50%)
    /* background: rgb(185, 185, 185); */

    
}
.nav-bar{
     width: 90%;
     /* margin: 0 auto; */
     margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}
.nav-fit{
    font-size: 36px;
    font-weight: 800;
    color: rgb(230, 83, 60);
}
.nav-details{
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
    align-items: center;
    color: rgb(255, 255, 255);
    font-weight: 400;
    
}
.nav-hamburgermenu{
    display: none;
    
}
span {
    font-family: "Whisper", cursive;
    font-size: 8rem;
}
.btn-1{
    font-size: 1rem;
    font-weight: 400;
    background-color: rgb(230, 83, 60);
    color: white;
    border-radius: 1rem;
    height: 40px;
    width: 60px;
    border: none;
}
/* nav-bar end here  */
/* get container start here  */
.get-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    
}
.get-body{
    margin-top: 4rem;
}
.get-body h1{
    font-size: 4rem;
    font-weight: 900px;
    margin-bottom: 1.5rem;
}
.get-bodyp{
    font-size: 1rem;
    margin-bottom: 1.5rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.get-bodydesc{
    display: none;
}
.btn-2{
    height: 50px;
    width: 40%;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 30px;
    background-color: rgb(230, 83, 60);
    border: none;
    color: rgb(255, 255, 255);
    
    
}
.btn-3{
    height: 50px;
    width: 40%;
    font-size: 1rem;
    font-weight: 400;
    margin-left: 1rem;
    border-radius: 30px;
    background-color: rgb(0,0,0);
    border: 1px solid ;
    color: rgb(255, 255, 255);
}
.image{
    
    width: 80%;
    height: auto;
    
}
.image-short{
    display: none;
}
.workout{
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 15%;
    height: 12%;
    margin-left: 15%;
    margin-top: 8%;
    padding-left: 1rem;
    padding-top: 1rem;
    border-radius: 1rem;
    gap: 0.3rem;
    position: absolute;
   
}
.workout h3{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 900px;
}
.workout p{
    color: rgba(255, 255, 255, 0.65);
    font-size: 1rem;
    font-weight: 400px;
}
.circle-desc h3{
    color: rgb(250, 250, 249);
    
    font-size: 1.5rem;
    font-weight: 900px;
}
.circle-desc p{
    color: rgba(255, 255, 255, 0.65);
    font-size: 1rem;
    font-weight: 400px;
}
.tutorial{
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 15%;
    height: 12%;
    margin-top: 30%;
    margin-left: -5%;
    padding-left: 1rem;
    padding-top: 1rem;
    border-radius: 1rem;
    gap: 0.3rem;
    position: absolute;
    display: flex;
    

}
.circle{
    align-items: center;
    font-size: 2rem;
    margin-top: 6%;
}
/* get container end here  */
/* change your habits start here  */
.habits-container{
    width: 80%;
    /* height:1000px; */
    margin: 0 auto;
   
}
.habits{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
    
}
.habits h1{
    margin-bottom: 3%;
    font-size: 2rem;
    font-weight: 900px;
}
.habits p{
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
}
.exercise-position{
    display: flex;
    justify-content:space-evenly;

}
.exercise-position img{
    border-radius: 7rem;
    margin-left: 5%;
    margin-bottom: 4%;
}
.exercise-position h3{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 600px;
    
    
}
.position-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.position-data p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    margin-top: 5%;
}




.run-mile-container{
    width: 80%;
    height:500px;
    margin: 0 auto;
   background-color: rgb(34, 34, 34);;

}
.runmile-content{
    display: flex;
    justify-content: center;
}
.run-image{
    height: 50%;
    width: 40%;
}